<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xx.scope.monster.mapper.MonsterMapper" >
  <resultMap id="BaseResultMap" type="com.xx.scope.monster.domain.Monster" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="map_id" property="mapId" jdbcType="BIGINT" />
    <result column="hero_id" property="heroId" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="icon_id" property="iconId" jdbcType="BIGINT" />
    <result column="color" property="color" jdbcType="CHAR" />
    <result column="sex" property="sex" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="des" property="des" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="INTEGER" />
    <result column="soul" property="soul" jdbcType="BIGINT" />
    <result column="attack" property="attack" jdbcType="BIGINT" />
    <result column="defense" property="defense" jdbcType="BIGINT" />
    <result column="speed" property="speed" jdbcType="INTEGER" />
    <result column="hp" property="hp" jdbcType="BIGINT" />
    <result column="mp" property="mp" jdbcType="BIGINT" />
    <result column="yue_li" property="yueLi" jdbcType="BIGINT" />
    <result column="tianfu_id" property="tianfuId" jdbcType="BIGINT" />
    <result column="skill_id" property="skillId" jdbcType="BIGINT" />
    <result column="attack_up" property="attackUp" jdbcType="INTEGER" />
    <result column="defense_up" property="defenseUp" jdbcType="INTEGER" />
    <result column="hp_up" property="hpUp" jdbcType="INTEGER" />
    <result column="mp_up" property="mpUp" jdbcType="INTEGER" />
    <result column="speed_up" property="speedUp" jdbcType="INTEGER" />
    <result column="current_attack" property="currentAttack" jdbcType="BIGINT" />
    <result column="current_defense" property="currentDefense" jdbcType="BIGINT" />
    <result column="current_hp" property="currentHp" jdbcType="BIGINT" />
    <result column="current_mp" property="currentMp" jdbcType="BIGINT" />
    <result column="current_speed" property="currentSpeed" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="valid" property="valid" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, map_id, hero_id, type, icon_id, color, sex, name, des, grade, soul, attack, defense, 
    speed, hp, mp, yue_li, tianfu_id, skill_id, attack_up, defense_up, hp_up, mp_up, 
    speed_up, current_attack, current_defense, current_hp, current_mp, current_speed, 
    sort, valid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from monster
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from monster
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xx.scope.monster.domain.Monster" >
    insert into monster (id, map_id, hero_id, 
      type, icon_id, color, sex, 
      name, des, grade, soul, 
      attack, defense, speed, 
      hp, mp, yue_li, tianfu_id, 
      skill_id, attack_up, defense_up, 
      hp_up, mp_up, speed_up, 
      current_attack, current_defense, current_hp, 
      current_mp, current_speed, sort, 
      valid)
    values (#{id,jdbcType=BIGINT}, #{mapId,jdbcType=BIGINT}, #{heroId,jdbcType=BIGINT}, 
      #{type,jdbcType=CHAR}, #{iconId,jdbcType=BIGINT}, #{color,jdbcType=CHAR}, #{sex,jdbcType=CHAR}, 
      #{name,jdbcType=VARCHAR}, #{des,jdbcType=VARCHAR}, #{grade,jdbcType=INTEGER}, #{soul,jdbcType=BIGINT}, 
      #{attack,jdbcType=BIGINT}, #{defense,jdbcType=BIGINT}, #{speed,jdbcType=INTEGER}, 
      #{hp,jdbcType=BIGINT}, #{mp,jdbcType=BIGINT}, #{yueLi,jdbcType=BIGINT}, #{tianfuId,jdbcType=BIGINT}, 
      #{skillId,jdbcType=BIGINT}, #{attackUp,jdbcType=INTEGER}, #{defenseUp,jdbcType=INTEGER}, 
      #{hpUp,jdbcType=INTEGER}, #{mpUp,jdbcType=INTEGER}, #{speedUp,jdbcType=INTEGER}, 
      #{currentAttack,jdbcType=BIGINT}, #{currentDefense,jdbcType=BIGINT}, #{currentHp,jdbcType=BIGINT}, 
      #{currentMp,jdbcType=BIGINT}, #{currentSpeed,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, 
      #{valid,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xx.scope.monster.domain.Monster" >
    insert into monster
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mapId != null" >
        map_id,
      </if>
      <if test="heroId != null" >
        hero_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="iconId != null" >
        icon_id,
      </if>
      <if test="color != null" >
        color,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="des != null" >
        des,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="soul != null" >
        soul,
      </if>
      <if test="attack != null" >
        attack,
      </if>
      <if test="defense != null" >
        defense,
      </if>
      <if test="speed != null" >
        speed,
      </if>
      <if test="hp != null" >
        hp,
      </if>
      <if test="mp != null" >
        mp,
      </if>
      <if test="yueLi != null" >
        yue_li,
      </if>
      <if test="tianfuId != null" >
        tianfu_id,
      </if>
      <if test="skillId != null" >
        skill_id,
      </if>
      <if test="attackUp != null" >
        attack_up,
      </if>
      <if test="defenseUp != null" >
        defense_up,
      </if>
      <if test="hpUp != null" >
        hp_up,
      </if>
      <if test="mpUp != null" >
        mp_up,
      </if>
      <if test="speedUp != null" >
        speed_up,
      </if>
      <if test="currentAttack != null" >
        current_attack,
      </if>
      <if test="currentDefense != null" >
        current_defense,
      </if>
      <if test="currentHp != null" >
        current_hp,
      </if>
      <if test="currentMp != null" >
        current_mp,
      </if>
      <if test="currentSpeed != null" >
        current_speed,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="valid != null" >
        valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="mapId != null" >
        #{mapId,jdbcType=BIGINT},
      </if>
      <if test="heroId != null" >
        #{heroId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="iconId != null" >
        #{iconId,jdbcType=BIGINT},
      </if>
      <if test="color != null" >
        #{color,jdbcType=CHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="des != null" >
        #{des,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="soul != null" >
        #{soul,jdbcType=BIGINT},
      </if>
      <if test="attack != null" >
        #{attack,jdbcType=BIGINT},
      </if>
      <if test="defense != null" >
        #{defense,jdbcType=BIGINT},
      </if>
      <if test="speed != null" >
        #{speed,jdbcType=INTEGER},
      </if>
      <if test="hp != null" >
        #{hp,jdbcType=BIGINT},
      </if>
      <if test="mp != null" >
        #{mp,jdbcType=BIGINT},
      </if>
      <if test="yueLi != null" >
        #{yueLi,jdbcType=BIGINT},
      </if>
      <if test="tianfuId != null" >
        #{tianfuId,jdbcType=BIGINT},
      </if>
      <if test="skillId != null" >
        #{skillId,jdbcType=BIGINT},
      </if>
      <if test="attackUp != null" >
        #{attackUp,jdbcType=INTEGER},
      </if>
      <if test="defenseUp != null" >
        #{defenseUp,jdbcType=INTEGER},
      </if>
      <if test="hpUp != null" >
        #{hpUp,jdbcType=INTEGER},
      </if>
      <if test="mpUp != null" >
        #{mpUp,jdbcType=INTEGER},
      </if>
      <if test="speedUp != null" >
        #{speedUp,jdbcType=INTEGER},
      </if>
      <if test="currentAttack != null" >
        #{currentAttack,jdbcType=BIGINT},
      </if>
      <if test="currentDefense != null" >
        #{currentDefense,jdbcType=BIGINT},
      </if>
      <if test="currentHp != null" >
        #{currentHp,jdbcType=BIGINT},
      </if>
      <if test="currentMp != null" >
        #{currentMp,jdbcType=BIGINT},
      </if>
      <if test="currentSpeed != null" >
        #{currentSpeed,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xx.scope.monster.domain.Monster" >
    update monster
    <set >
      <if test="mapId != null" >
        map_id = #{mapId,jdbcType=BIGINT},
      </if>
      <if test="heroId != null" >
        hero_id = #{heroId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="iconId != null" >
        icon_id = #{iconId,jdbcType=BIGINT},
      </if>
      <if test="color != null" >
        color = #{color,jdbcType=CHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="des != null" >
        des = #{des,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=INTEGER},
      </if>
      <if test="soul != null" >
        soul = #{soul,jdbcType=BIGINT},
      </if>
      <if test="attack != null" >
        attack = #{attack,jdbcType=BIGINT},
      </if>
      <if test="defense != null" >
        defense = #{defense,jdbcType=BIGINT},
      </if>
      <if test="speed != null" >
        speed = #{speed,jdbcType=INTEGER},
      </if>
      <if test="hp != null" >
        hp = #{hp,jdbcType=BIGINT},
      </if>
      <if test="mp != null" >
        mp = #{mp,jdbcType=BIGINT},
      </if>
      <if test="yueLi != null" >
        yue_li = #{yueLi,jdbcType=BIGINT},
      </if>
      <if test="tianfuId != null" >
        tianfu_id = #{tianfuId,jdbcType=BIGINT},
      </if>
      <if test="skillId != null" >
        skill_id = #{skillId,jdbcType=BIGINT},
      </if>
      <if test="attackUp != null" >
        attack_up = #{attackUp,jdbcType=INTEGER},
      </if>
      <if test="defenseUp != null" >
        defense_up = #{defenseUp,jdbcType=INTEGER},
      </if>
      <if test="hpUp != null" >
        hp_up = #{hpUp,jdbcType=INTEGER},
      </if>
      <if test="mpUp != null" >
        mp_up = #{mpUp,jdbcType=INTEGER},
      </if>
      <if test="speedUp != null" >
        speed_up = #{speedUp,jdbcType=INTEGER},
      </if>
      <if test="currentAttack != null" >
        current_attack = #{currentAttack,jdbcType=BIGINT},
      </if>
      <if test="currentDefense != null" >
        current_defense = #{currentDefense,jdbcType=BIGINT},
      </if>
      <if test="currentHp != null" >
        current_hp = #{currentHp,jdbcType=BIGINT},
      </if>
      <if test="currentMp != null" >
        current_mp = #{currentMp,jdbcType=BIGINT},
      </if>
      <if test="currentSpeed != null" >
        current_speed = #{currentSpeed,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="valid != null" >
        valid = #{valid,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xx.scope.monster.domain.Monster" >
    update monster
    set map_id = #{mapId,jdbcType=BIGINT},
      hero_id = #{heroId,jdbcType=BIGINT},
      type = #{type,jdbcType=CHAR},
      icon_id = #{iconId,jdbcType=BIGINT},
      color = #{color,jdbcType=CHAR},
      sex = #{sex,jdbcType=CHAR},
      name = #{name,jdbcType=VARCHAR},
      des = #{des,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=INTEGER},
      soul = #{soul,jdbcType=BIGINT},
      attack = #{attack,jdbcType=BIGINT},
      defense = #{defense,jdbcType=BIGINT},
      speed = #{speed,jdbcType=INTEGER},
      hp = #{hp,jdbcType=BIGINT},
      mp = #{mp,jdbcType=BIGINT},
      yue_li = #{yueLi,jdbcType=BIGINT},
      tianfu_id = #{tianfuId,jdbcType=BIGINT},
      skill_id = #{skillId,jdbcType=BIGINT},
      attack_up = #{attackUp,jdbcType=INTEGER},
      defense_up = #{defenseUp,jdbcType=INTEGER},
      hp_up = #{hpUp,jdbcType=INTEGER},
      mp_up = #{mpUp,jdbcType=INTEGER},
      speed_up = #{speedUp,jdbcType=INTEGER},
      current_attack = #{currentAttack,jdbcType=BIGINT},
      current_defense = #{currentDefense,jdbcType=BIGINT},
      current_hp = #{currentHp,jdbcType=BIGINT},
      current_mp = #{currentMp,jdbcType=BIGINT},
      current_speed = #{currentSpeed,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      valid = #{valid,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

<!--  获取关卡敌人列表-->
  <select id="selectMonsterList" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from monster
    where map_id = #{mapId,jdbcType=BIGINT}
    and valid = '1'
  </select>
</mapper>