<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xx.scope.user.mapper.BaseHeroDOMapper" >
  <resultMap id="BaseResultMap" type="com.xx.scope.user.domain.BaseHeroDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="icon_id" property="iconId" jdbcType="BIGINT" />
    <result column="color" property="color" jdbcType="CHAR" />
    <result column="linggen" property="linggen" jdbcType="INTEGER" />
    <result column="jin" property="jin" jdbcType="INTEGER" />
    <result column="mu" property="mu" jdbcType="INTEGER" />
    <result column="shui" property="shui" jdbcType="INTEGER" />
    <result column="huo" property="huo" jdbcType="INTEGER" />
    <result column="tu" property="tu" jdbcType="INTEGER" />
    <result column="feng" property="feng" jdbcType="INTEGER" />
    <result column="lei" property="lei" jdbcType="INTEGER" />
    <result column="bing" property="bing" jdbcType="INTEGER" />
    <result column="ti" property="ti" jdbcType="INTEGER" />
    <result column="shen" property="shen" jdbcType="INTEGER" />
    <result column="an" property="an" jdbcType="INTEGER" />
    <result column="gongji" property="gongji" jdbcType="BIGINT" />
    <result column="fangyu" property="fangyu" jdbcType="BIGINT" />
    <result column="sudu" property="sudu" jdbcType="INTEGER" />
    <result column="grade" property="grade" jdbcType="INTEGER" />
    <result column="hp" property="hp" jdbcType="BIGINT" />
    <result column="shenshi" property="shenshi" jdbcType="BIGINT" />
    <result column="zhenyuan" property="zhenyuan" jdbcType="BIGINT" />
    <result column="now_exp" property="nowExp" jdbcType="BIGINT" />
    <result column="daode" property="daode" jdbcType="INTEGER" />
    <result column="yunqi" property="yunqi" jdbcType="BIGINT" />
    <result column="yueli" property="yueli" jdbcType="BIGINT" />
    <result column="zongmen" property="zongmen" jdbcType="BIGINT" />
    <result column="x" property="x" jdbcType="INTEGER" />
    <result column="y" property="y" jdbcType="INTEGER" />
    <result column="chenghao" property="chenghao" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="des" property="des" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="CHAR" />
    <result column="tianfu_id" property="tianfuId" jdbcType="BIGINT" />
    <result column="gongfa_id" property="gongfaId" jdbcType="BIGINT" />
    <result column="skill_id" property="skillId" jdbcType="BIGINT" />
    <result column="hp_up" property="hpUp" jdbcType="INTEGER" />
    <result column="gongji_up" property="gongjiUp" jdbcType="INTEGER" />
    <result column="fangyu_up" property="fangyuUp" jdbcType="INTEGER" />
    <result column="zhenyuan_up" property="zhenyuanUp" jdbcType="INTEGER" />
    <result column="shenshi_up" property="shenshiUp" jdbcType="INTEGER" />
    <result column="sudu_up" property="suduUp" jdbcType="INTEGER" />
    <result column="wuxing" property="wuxing" jdbcType="INTEGER" />
    <result column="xinzhi" property="xinzhi" jdbcType="INTEGER" />
    <result column="fuyuan" property="fuyuan" jdbcType="INTEGER" />
    <result column="zhenfa" property="zhenfa" jdbcType="INTEGER" />
    <result column="zhifu" property="zhifu" jdbcType="INTEGER" />
    <result column="lianqi" property="lianqi" jdbcType="INTEGER" />
    <result column="liandan" property="liandan" jdbcType="INTEGER" />
    <result column="zhongzhi" property="zhongzhi" jdbcType="INTEGER" />
    <result column="kuilei" property="kuilei" jdbcType="INTEGER" />
    <result column="valid" property="valid" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, icon_id, color, linggen, jin, mu, shui, huo, tu, feng, lei, bing, ti, shen, 
    an, gongji, fangyu, sudu, grade, hp, shenshi, zhenyuan, now_exp, daode, yunqi, yueli, 
    zongmen, x, y, chenghao, name, des, sex, tianfu_id, gongfa_id, skill_id, hp_up, gongji_up, 
    fangyu_up, zhenyuan_up, shenshi_up, sudu_up, wuxing, xinzhi, fuyuan, zhenfa, zhifu, 
    lianqi, liandan, zhongzhi, kuilei, valid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_base_hero
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_base_hero
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xx.scope.user.domain.BaseHeroDO" >
    insert into t_base_hero (id, type, icon_id, 
      color, linggen, jin, mu, 
      shui, huo, tu, feng, 
      lei, bing, ti, shen, 
      an, gongji, fangyu, sudu, 
      grade, hp, shenshi, zhenyuan, 
      now_exp, daode, yunqi, 
      yueli, zongmen, x, y, 
      chenghao, name, des, 
      sex, tianfu_id, gongfa_id, 
      skill_id, hp_up, gongji_up, 
      fangyu_up, zhenyuan_up, shenshi_up, 
      sudu_up, wuxing, xinzhi, 
      fuyuan, zhenfa, zhifu, 
      lianqi, liandan, zhongzhi, 
      kuilei, valid)
    values (#{id,jdbcType=BIGINT}, #{type,jdbcType=CHAR}, #{iconId,jdbcType=BIGINT}, 
      #{color,jdbcType=CHAR}, #{linggen,jdbcType=INTEGER}, #{jin,jdbcType=INTEGER}, #{mu,jdbcType=INTEGER}, 
      #{shui,jdbcType=INTEGER}, #{huo,jdbcType=INTEGER}, #{tu,jdbcType=INTEGER}, #{feng,jdbcType=INTEGER}, 
      #{lei,jdbcType=INTEGER}, #{bing,jdbcType=INTEGER}, #{ti,jdbcType=INTEGER}, #{shen,jdbcType=INTEGER}, 
      #{an,jdbcType=INTEGER}, #{gongji,jdbcType=BIGINT}, #{fangyu,jdbcType=BIGINT}, #{sudu,jdbcType=INTEGER}, 
      #{grade,jdbcType=INTEGER}, #{hp,jdbcType=BIGINT}, #{shenshi,jdbcType=BIGINT}, #{zhenyuan,jdbcType=BIGINT}, 
      #{nowExp,jdbcType=BIGINT}, #{daode,jdbcType=INTEGER}, #{yunqi,jdbcType=BIGINT}, 
      #{yueli,jdbcType=BIGINT}, #{zongmen,jdbcType=BIGINT}, #{x,jdbcType=INTEGER}, #{y,jdbcType=INTEGER}, 
      #{chenghao,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{des,jdbcType=VARCHAR}, 
      #{sex,jdbcType=CHAR}, #{tianfuId,jdbcType=BIGINT}, #{gongfaId,jdbcType=BIGINT}, 
      #{skillId,jdbcType=BIGINT}, #{hpUp,jdbcType=INTEGER}, #{gongjiUp,jdbcType=INTEGER}, 
      #{fangyuUp,jdbcType=INTEGER}, #{zhenyuanUp,jdbcType=INTEGER}, #{shenshiUp,jdbcType=INTEGER}, 
      #{suduUp,jdbcType=INTEGER}, #{wuxing,jdbcType=INTEGER}, #{xinzhi,jdbcType=INTEGER}, 
      #{fuyuan,jdbcType=INTEGER}, #{zhenfa,jdbcType=INTEGER}, #{zhifu,jdbcType=INTEGER}, 
      #{lianqi,jdbcType=INTEGER}, #{liandan,jdbcType=INTEGER}, #{zhongzhi,jdbcType=INTEGER}, 
      #{kuilei,jdbcType=INTEGER}, #{valid,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xx.scope.user.domain.BaseHeroDO" >
    insert into t_base_hero
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="iconId != null" >
        icon_id,
      </if>
      <if test="color != null" >
        color,
      </if>
      <if test="linggen != null" >
        linggen,
      </if>
      <if test="jin != null" >
        jin,
      </if>
      <if test="mu != null" >
        mu,
      </if>
      <if test="shui != null" >
        shui,
      </if>
      <if test="huo != null" >
        huo,
      </if>
      <if test="tu != null" >
        tu,
      </if>
      <if test="feng != null" >
        feng,
      </if>
      <if test="lei != null" >
        lei,
      </if>
      <if test="bing != null" >
        bing,
      </if>
      <if test="ti != null" >
        ti,
      </if>
      <if test="shen != null" >
        shen,
      </if>
      <if test="an != null" >
        an,
      </if>
      <if test="gongji != null" >
        gongji,
      </if>
      <if test="fangyu != null" >
        fangyu,
      </if>
      <if test="sudu != null" >
        sudu,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="hp != null" >
        hp,
      </if>
      <if test="shenshi != null" >
        shenshi,
      </if>
      <if test="zhenyuan != null" >
        zhenyuan,
      </if>
      <if test="nowExp != null" >
        now_exp,
      </if>
      <if test="daode != null" >
        daode,
      </if>
      <if test="yunqi != null" >
        yunqi,
      </if>
      <if test="yueli != null" >
        yueli,
      </if>
      <if test="zongmen != null" >
        zongmen,
      </if>
      <if test="x != null" >
        x,
      </if>
      <if test="y != null" >
        y,
      </if>
      <if test="chenghao != null" >
        chenghao,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="des != null" >
        des,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="tianfuId != null" >
        tianfu_id,
      </if>
      <if test="gongfaId != null" >
        gongfa_id,
      </if>
      <if test="skillId != null" >
        skill_id,
      </if>
      <if test="hpUp != null" >
        hp_up,
      </if>
      <if test="gongjiUp != null" >
        gongji_up,
      </if>
      <if test="fangyuUp != null" >
        fangyu_up,
      </if>
      <if test="zhenyuanUp != null" >
        zhenyuan_up,
      </if>
      <if test="shenshiUp != null" >
        shenshi_up,
      </if>
      <if test="suduUp != null" >
        sudu_up,
      </if>
      <if test="wuxing != null" >
        wuxing,
      </if>
      <if test="xinzhi != null" >
        xinzhi,
      </if>
      <if test="fuyuan != null" >
        fuyuan,
      </if>
      <if test="zhenfa != null" >
        zhenfa,
      </if>
      <if test="zhifu != null" >
        zhifu,
      </if>
      <if test="lianqi != null" >
        lianqi,
      </if>
      <if test="liandan != null" >
        liandan,
      </if>
      <if test="zhongzhi != null" >
        zhongzhi,
      </if>
      <if test="kuilei != null" >
        kuilei,
      </if>
      <if test="valid != null" >
        valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="iconId != null" >
        #{iconId,jdbcType=BIGINT},
      </if>
      <if test="color != null" >
        #{color,jdbcType=CHAR},
      </if>
      <if test="linggen != null" >
        #{linggen,jdbcType=INTEGER},
      </if>
      <if test="jin != null" >
        #{jin,jdbcType=INTEGER},
      </if>
      <if test="mu != null" >
        #{mu,jdbcType=INTEGER},
      </if>
      <if test="shui != null" >
        #{shui,jdbcType=INTEGER},
      </if>
      <if test="huo != null" >
        #{huo,jdbcType=INTEGER},
      </if>
      <if test="tu != null" >
        #{tu,jdbcType=INTEGER},
      </if>
      <if test="feng != null" >
        #{feng,jdbcType=INTEGER},
      </if>
      <if test="lei != null" >
        #{lei,jdbcType=INTEGER},
      </if>
      <if test="bing != null" >
        #{bing,jdbcType=INTEGER},
      </if>
      <if test="ti != null" >
        #{ti,jdbcType=INTEGER},
      </if>
      <if test="shen != null" >
        #{shen,jdbcType=INTEGER},
      </if>
      <if test="an != null" >
        #{an,jdbcType=INTEGER},
      </if>
      <if test="gongji != null" >
        #{gongji,jdbcType=BIGINT},
      </if>
      <if test="fangyu != null" >
        #{fangyu,jdbcType=BIGINT},
      </if>
      <if test="sudu != null" >
        #{sudu,jdbcType=INTEGER},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="hp != null" >
        #{hp,jdbcType=BIGINT},
      </if>
      <if test="shenshi != null" >
        #{shenshi,jdbcType=BIGINT},
      </if>
      <if test="zhenyuan != null" >
        #{zhenyuan,jdbcType=BIGINT},
      </if>
      <if test="nowExp != null" >
        #{nowExp,jdbcType=BIGINT},
      </if>
      <if test="daode != null" >
        #{daode,jdbcType=INTEGER},
      </if>
      <if test="yunqi != null" >
        #{yunqi,jdbcType=BIGINT},
      </if>
      <if test="yueli != null" >
        #{yueli,jdbcType=BIGINT},
      </if>
      <if test="zongmen != null" >
        #{zongmen,jdbcType=BIGINT},
      </if>
      <if test="x != null" >
        #{x,jdbcType=INTEGER},
      </if>
      <if test="y != null" >
        #{y,jdbcType=INTEGER},
      </if>
      <if test="chenghao != null" >
        #{chenghao,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="des != null" >
        #{des,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=CHAR},
      </if>
      <if test="tianfuId != null" >
        #{tianfuId,jdbcType=BIGINT},
      </if>
      <if test="gongfaId != null" >
        #{gongfaId,jdbcType=BIGINT},
      </if>
      <if test="skillId != null" >
        #{skillId,jdbcType=BIGINT},
      </if>
      <if test="hpUp != null" >
        #{hpUp,jdbcType=INTEGER},
      </if>
      <if test="gongjiUp != null" >
        #{gongjiUp,jdbcType=INTEGER},
      </if>
      <if test="fangyuUp != null" >
        #{fangyuUp,jdbcType=INTEGER},
      </if>
      <if test="zhenyuanUp != null" >
        #{zhenyuanUp,jdbcType=INTEGER},
      </if>
      <if test="shenshiUp != null" >
        #{shenshiUp,jdbcType=INTEGER},
      </if>
      <if test="suduUp != null" >
        #{suduUp,jdbcType=INTEGER},
      </if>
      <if test="wuxing != null" >
        #{wuxing,jdbcType=INTEGER},
      </if>
      <if test="xinzhi != null" >
        #{xinzhi,jdbcType=INTEGER},
      </if>
      <if test="fuyuan != null" >
        #{fuyuan,jdbcType=INTEGER},
      </if>
      <if test="zhenfa != null" >
        #{zhenfa,jdbcType=INTEGER},
      </if>
      <if test="zhifu != null" >
        #{zhifu,jdbcType=INTEGER},
      </if>
      <if test="lianqi != null" >
        #{lianqi,jdbcType=INTEGER},
      </if>
      <if test="liandan != null" >
        #{liandan,jdbcType=INTEGER},
      </if>
      <if test="zhongzhi != null" >
        #{zhongzhi,jdbcType=INTEGER},
      </if>
      <if test="kuilei != null" >
        #{kuilei,jdbcType=INTEGER},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xx.scope.user.domain.BaseHeroDO" >
    update t_base_hero
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="iconId != null" >
        icon_id = #{iconId,jdbcType=BIGINT},
      </if>
      <if test="color != null" >
        color = #{color,jdbcType=CHAR},
      </if>
      <if test="linggen != null" >
        linggen = #{linggen,jdbcType=INTEGER},
      </if>
      <if test="jin != null" >
        jin = #{jin,jdbcType=INTEGER},
      </if>
      <if test="mu != null" >
        mu = #{mu,jdbcType=INTEGER},
      </if>
      <if test="shui != null" >
        shui = #{shui,jdbcType=INTEGER},
      </if>
      <if test="huo != null" >
        huo = #{huo,jdbcType=INTEGER},
      </if>
      <if test="tu != null" >
        tu = #{tu,jdbcType=INTEGER},
      </if>
      <if test="feng != null" >
        feng = #{feng,jdbcType=INTEGER},
      </if>
      <if test="lei != null" >
        lei = #{lei,jdbcType=INTEGER},
      </if>
      <if test="bing != null" >
        bing = #{bing,jdbcType=INTEGER},
      </if>
      <if test="ti != null" >
        ti = #{ti,jdbcType=INTEGER},
      </if>
      <if test="shen != null" >
        shen = #{shen,jdbcType=INTEGER},
      </if>
      <if test="an != null" >
        an = #{an,jdbcType=INTEGER},
      </if>
      <if test="gongji != null" >
        gongji = #{gongji,jdbcType=BIGINT},
      </if>
      <if test="fangyu != null" >
        fangyu = #{fangyu,jdbcType=BIGINT},
      </if>
      <if test="sudu != null" >
        sudu = #{sudu,jdbcType=INTEGER},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=INTEGER},
      </if>
      <if test="hp != null" >
        hp = #{hp,jdbcType=BIGINT},
      </if>
      <if test="shenshi != null" >
        shenshi = #{shenshi,jdbcType=BIGINT},
      </if>
      <if test="zhenyuan != null" >
        zhenyuan = #{zhenyuan,jdbcType=BIGINT},
      </if>
      <if test="nowExp != null" >
        now_exp = #{nowExp,jdbcType=BIGINT},
      </if>
      <if test="daode != null" >
        daode = #{daode,jdbcType=INTEGER},
      </if>
      <if test="yunqi != null" >
        yunqi = #{yunqi,jdbcType=BIGINT},
      </if>
      <if test="yueli != null" >
        yueli = #{yueli,jdbcType=BIGINT},
      </if>
      <if test="zongmen != null" >
        zongmen = #{zongmen,jdbcType=BIGINT},
      </if>
      <if test="x != null" >
        x = #{x,jdbcType=INTEGER},
      </if>
      <if test="y != null" >
        y = #{y,jdbcType=INTEGER},
      </if>
      <if test="chenghao != null" >
        chenghao = #{chenghao,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="des != null" >
        des = #{des,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="tianfuId != null" >
        tianfu_id = #{tianfuId,jdbcType=BIGINT},
      </if>
      <if test="gongfaId != null" >
        gongfa_id = #{gongfaId,jdbcType=BIGINT},
      </if>
      <if test="skillId != null" >
        skill_id = #{skillId,jdbcType=BIGINT},
      </if>
      <if test="hpUp != null" >
        hp_up = #{hpUp,jdbcType=INTEGER},
      </if>
      <if test="gongjiUp != null" >
        gongji_up = #{gongjiUp,jdbcType=INTEGER},
      </if>
      <if test="fangyuUp != null" >
        fangyu_up = #{fangyuUp,jdbcType=INTEGER},
      </if>
      <if test="zhenyuanUp != null" >
        zhenyuan_up = #{zhenyuanUp,jdbcType=INTEGER},
      </if>
      <if test="shenshiUp != null" >
        shenshi_up = #{shenshiUp,jdbcType=INTEGER},
      </if>
      <if test="suduUp != null" >
        sudu_up = #{suduUp,jdbcType=INTEGER},
      </if>
      <if test="wuxing != null" >
        wuxing = #{wuxing,jdbcType=INTEGER},
      </if>
      <if test="xinzhi != null" >
        xinzhi = #{xinzhi,jdbcType=INTEGER},
      </if>
      <if test="fuyuan != null" >
        fuyuan = #{fuyuan,jdbcType=INTEGER},
      </if>
      <if test="zhenfa != null" >
        zhenfa = #{zhenfa,jdbcType=INTEGER},
      </if>
      <if test="zhifu != null" >
        zhifu = #{zhifu,jdbcType=INTEGER},
      </if>
      <if test="lianqi != null" >
        lianqi = #{lianqi,jdbcType=INTEGER},
      </if>
      <if test="liandan != null" >
        liandan = #{liandan,jdbcType=INTEGER},
      </if>
      <if test="zhongzhi != null" >
        zhongzhi = #{zhongzhi,jdbcType=INTEGER},
      </if>
      <if test="kuilei != null" >
        kuilei = #{kuilei,jdbcType=INTEGER},
      </if>
      <if test="valid != null" >
        valid = #{valid,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xx.scope.user.domain.BaseHeroDO" >
    update t_base_hero
    set type = #{type,jdbcType=CHAR},
      icon_id = #{iconId,jdbcType=BIGINT},
      color = #{color,jdbcType=CHAR},
      linggen = #{linggen,jdbcType=INTEGER},
      jin = #{jin,jdbcType=INTEGER},
      mu = #{mu,jdbcType=INTEGER},
      shui = #{shui,jdbcType=INTEGER},
      huo = #{huo,jdbcType=INTEGER},
      tu = #{tu,jdbcType=INTEGER},
      feng = #{feng,jdbcType=INTEGER},
      lei = #{lei,jdbcType=INTEGER},
      bing = #{bing,jdbcType=INTEGER},
      ti = #{ti,jdbcType=INTEGER},
      shen = #{shen,jdbcType=INTEGER},
      an = #{an,jdbcType=INTEGER},
      gongji = #{gongji,jdbcType=BIGINT},
      fangyu = #{fangyu,jdbcType=BIGINT},
      sudu = #{sudu,jdbcType=INTEGER},
      grade = #{grade,jdbcType=INTEGER},
      hp = #{hp,jdbcType=BIGINT},
      shenshi = #{shenshi,jdbcType=BIGINT},
      zhenyuan = #{zhenyuan,jdbcType=BIGINT},
      now_exp = #{nowExp,jdbcType=BIGINT},
      daode = #{daode,jdbcType=INTEGER},
      yunqi = #{yunqi,jdbcType=BIGINT},
      yueli = #{yueli,jdbcType=BIGINT},
      zongmen = #{zongmen,jdbcType=BIGINT},
      x = #{x,jdbcType=INTEGER},
      y = #{y,jdbcType=INTEGER},
      chenghao = #{chenghao,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      des = #{des,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=CHAR},
      tianfu_id = #{tianfuId,jdbcType=BIGINT},
      gongfa_id = #{gongfaId,jdbcType=BIGINT},
      skill_id = #{skillId,jdbcType=BIGINT},
      hp_up = #{hpUp,jdbcType=INTEGER},
      gongji_up = #{gongjiUp,jdbcType=INTEGER},
      fangyu_up = #{fangyuUp,jdbcType=INTEGER},
      zhenyuan_up = #{zhenyuanUp,jdbcType=INTEGER},
      shenshi_up = #{shenshiUp,jdbcType=INTEGER},
      sudu_up = #{suduUp,jdbcType=INTEGER},
      wuxing = #{wuxing,jdbcType=INTEGER},
      xinzhi = #{xinzhi,jdbcType=INTEGER},
      fuyuan = #{fuyuan,jdbcType=INTEGER},
      zhenfa = #{zhenfa,jdbcType=INTEGER},
      zhifu = #{zhifu,jdbcType=INTEGER},
      lianqi = #{lianqi,jdbcType=INTEGER},
      liandan = #{liandan,jdbcType=INTEGER},
      zhongzhi = #{zhongzhi,jdbcType=INTEGER},
      kuilei = #{kuilei,jdbcType=INTEGER},
      valid = #{valid,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>